<html>
	<body>
		<div class="erros">
			<%if(validationErrors){%>
				<ul>
					<%for(var i = 0; i < validationErrors.length; i++){%>
						<li><%=validationErrors[i].param%> - <%=validationErrors[i].msg%></li>
					<%}%>
				</ul>
			<%}%>
		</div>
		<form action="/products" method="POST">
			<div>
				<label for="title">Title</label>
				<input type="text" id="title" value="<%=product.title%>" name="title" placeholder="title of the product">
			</div>
			<div>
				<label for="price">Price</label>
				<input type="text" id="price" value="<%=product.price%>" name="price" placeholder="123.45">
			</div>
			<div>
				<label for="description">Description</label>
				<textarea cols="20" rows="10" id="description" name="description" placeholder="tell me about your product"><%=product.description%></textarea>
			</div>

			<input type="submit" value="Save"/>
		</form>
	</body>
</html>
